<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Bahrain Business</title>
</head>
<body>
      <h1>Welcome to the Bahrain Business Directory!</h1>
      <img src="/assets/phonebook.png" alt="photo">
      <p>A simple directory where users can browse small to mid-size business in Bahrain. </p>
</body>
</html>